.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.game-box{
    height: 5rem;
    width: 5rem;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.start-btn{
    margin: 10px;
    width: 50%;
    padding: 8px;
    background-color: seashell;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.bg-blue{
    background: rgb(17, 197, 197);
}
.bg-green {
    background-color: green;
    animation: mymove 0.5s ease-out;
}
@keyframes mymove {
    50% {opacity: 0.5;}
  }
.active{
    cursor: pointer;
    &:hover{
        background: sandybrown;
    }
}